<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>534670167778-mud77rikk4ap2pmrds05qjc2ujhspksj.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.534670167778-mud77rikk4ap2pmrds05qjc2ujhspksj</string>
    <key>API_KEY</key>
    <string>AIzaSyAN8pVnAyJV6uTOcZROwEMGR14pk0wd8IE</string>
    <key>GCM_SENDER_ID</key>
    <string>534670167778</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>cn.krunk.sakai</string>
    <key>PROJECT_ID</key>
    <string>opensource-490ed</string>
    <key>STORAGE_BUCKET</key>
    <string>opensource-490ed.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:534670167778:ios:03fdba0935e36bfe1a18bb</string>
</dict>
</plist>
